"*":
  "advanced-new-file":
    showFilesInAutoComplete: true
    suggestCurrentFilePath: true
  "atom-beautify":
    general:
      _analyticsUserId: "e4772621-9df3-446d-a557-b2fb89f50f8f"
    python:
      indent_size: 4
  "atom-ignore": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "kite"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.pyc"
    ]
    telemetryConsent: "limited"
    themes: [
      "pristine-ui"
      "oceanic-next"
    ]
    useTreeSitterParsers: false
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "~/dev/tutorials/django"
    ]
  editor:
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "97a5f99c-3df5-4eb7-90fe-c96e1fc9b095"
  kite:
    showWelcomeNotificationOnStartup: false
  "language-babel":
    autoIndentJSX: true
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-ui-default": {}
  "pristine-ui": {}
  "project-folder":
    projectRootDirectories: [
      "~/dev/"
      "~/dev/training"
      "~/dev/github"
      "~/dev/gitlab"
      "~/dev/interviews"
      "~/dev/training/tutorials"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".django.python.source":
  editor:
    autoIndentOnPaste: true
".python.regexp.source":
  editor:
    tabLength: 3
".python.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: false
    tabType: "soft"
