'atom-text-editor':
  'alt': ' '
  'alt-right': 'pane:show-next-item'
  'alt-left': 'pane:show-previous-item'
  'ctrl-alt-left': 'editor:move-to-first-character-of-line'
  'ctrl-alt-right': 'editor:move-to-end-of-line'
  'ctrl-alt-shift-right': 'editor:select-to-end-of-line'
  'ctrl-alt-shift-left': 'editor:select-to-first-character-of-line'

'body':
  'alt-right': 'pane:show-next-item'
  'alt-left': 'pane:show-previous-item'

'atom-workspace:not([mini])':
  'ctrl-p': 'project-folder:add'
  'ctrl-shift-o': 'tree-view-git-modified:openAll'
